body {
        font-family: arial, sans-serif;
       background: rgb(60, 115, 143);
 }

h3 { font-family: sans-serif;
        text-align-last: center;
        margin-top: 200px;
        text-shadow: 4px 3px rgb(255, 255, 255);
        font-size: 67px; 
        color: black;
        font-weight:300px;
}

.linusbackground {
                    background-image: url('linus.jpg');
                    background-size: cover;
                    background-attachment: fixed;
}

div {  
        color:white;
        font-size: larger;
        width: 600px;
        height: 100px;
        text-align: justify;
        margin-left:100px;     
        
}


p.margin{
        margin-top:100px;
}
p.margin2{
        margin-top:50px;
}
h1 {
    font-family: sans-serif;
    border: 2px;
    border-radius: 7px;
    width:500px;
    background:linear-gradient(to bottom, rgb(0, 37, 184), rgb(41, 80, 255), rgb(0, 37, 184));
    text-align-last: center;
    padding: 20pt 2pt;
    margin-left: 150px ;
    text-shadow: 4px 3px rgb(0, 0, 0);  
    color: rgb(255, 255, 255);
}

h2{
    margin-left:315px;
    margin-top:50px;
    border:2px solid yellow;
    border-radius: 7px;
    width:200px;
    text-align: center;
    background:linear-gradient(to bottom,rgb(225, 146, 0) ,rgb(239, 214, 30) ,rgb(225, 146, 0))
}

ul.home1 {
	list-style-type: none;
	margin: 20px 0;
	padding:0;
    overflow: hidden;
    }

li.home2 {
    float: left;
    left:420px;
    text-align: center;
    position: relative;
    background:linear-gradient(to bottom, rgb(0, 37, 184), rgb(41, 80, 255), rgb(0, 37, 184));
    border-radius:5px;
    margin-right: 40px;
}

li a.home3 {

    text-decoration: none;
    display: block;
    font-size: 18px;
    color:rgb(255, 255, 255);
    width:120px;
    height:40px;
    line-height: 40px;


}

ul {
	list-style-type: none;
	margin: 20px 0;
	padding:0;
    overflow: hidden;
    margin-top: -90px;
    }
    
li{
    float: right;
    text-align: center;
    position: relative;
    background:linear-gradient(to bottom, rgb(0, 37, 184), rgb(41, 80, 255), rgb(0, 37, 184));
    border-radius:5px;
    margin-right: 20px;
}

li a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    color:rgb(255, 255, 255);
    width:120px;
    height:40px;
    line-height: 40px;
     
  
}

li a:active{
    color:rgb(80, 80, 189);
    
}
img {
        float: right;
        margin-top:70px;
        margin-right:70px;
        
}

table,th,td {
        border:3px solid rgb(255, 255, 255);
        color:rgb(255, 255, 255);
        background-color:rgb(41, 80, 255);
        margin-top:200px;
        margin-left:825px;
}

.reference1 {
        display:block;
        position:absolute;
        bottom:21px;
        left:0px;
        background: gray;
        color:blue;
}

.reference2 {
    display:block;
    position:absolute;
    bottom:0px;
    left:0px;
    background: gray;
    color:blue;
}
